@import '../../node_modules/antd/dist/antd.css'; /* ～ 意味着从node_modules里面的antd; @ 是你在css里面import 在css里面importcss就要加@*/
@import 'Main.css';
@import 'Register.css';
@import 'Login.css';
@import 'Header.css';
@import 'Home.css';
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  float: left;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin:0px;
  float:left;
  padding:15px;  /* margin和padding border的区别 flex : align item center 如果用百分比 */
  color: #61dafb;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
